<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monthly Browsing Activity</title>
  <link rel="stylesheet" href="timely_activity.css">

</head>
<body>
  <div class="container">
    <h2>Monthly Browsing Activity</h2>
    <canvas id="monthlyChart" width="400" height="400"></canvas>
    <script src="chart.min.js"></script>
    <div id="monthly-activity-list-content">
      <p>Loading Monthly activity...</p>
    </div>

    <a href="popup.html" class="link">Close</a>
    <button type="button" id="exportMonthlyBtn">📊 Export Monthly Report</button>
  </div>
  
  <script src="timely_activity.js"></script>

</body>
</html>